.btn {
    border: none;
    font-size: 16px;
    position: relative;

    cursor: pointer;
    outline-width: 0px;
    
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &_main {
        margin-right: 30px;
        font-weight: 500;
        background: $white;
    }

    &_secondary {
        color: $red;
        padding: 13px 45px;
        border: 1px solid $red;
        border-radius: 50px;
        font-weight: 500;
        background: $white;
    }

    &_full {
        padding: 17.5px 35.5px;
        background-color: $fullred;
        color: $white;
        border-radius: 10px;
        font-weight: 600;
        min-height: 60px;
        min-width: 250px;
    }

    &_shadow {
        box-shadow:  -2px 30px 40px -10px rgba($red, 0.25);
    }

    &_card {
        padding: 13px 63px;
        border: 2px solid $fullred;
        border-radius: 50px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: $fullred;
        height: 45px;
        background-color: $white;     
    }

    &_active {
        background: $fullred;
        border-radius: 50px;
        color: $white;
    }
}