.card {
    padding: 80px 65px 50px 65px;
    border: 2px solid $lightgrey;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 760px;

    &__img-text {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 0;
        margin-top: 25px;
    }

    &__list {
        margin-top: 30px;
    }

    &__list-item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__list-item-img {
        margin-right: 26px;
    }

    &__list-item-text {
        font-size: 14px;
        margin: 0;
        color: $lightblack;
    }

    &__footer {
        text-align: center;
        margin-top: auto;
    }

    &__price {
        margin: 0;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 20px;
    }

    &__decorator {
        color: $lightblack;
        font-weight: 400;
        font-size: 25px;
    }

    &_plan {
        background-color: $white;
        max-width: 330px;
        &:not(:last-child) {
            margin-right: 50px;
        }

        &:nth-child(n+4) {
            margin-top: 30px;
        }
    }

    &_active {
        border: 2px solid $red;
        border-radius: 10px;
    }
    
}
