.footer {
    display: flex;
    justify-content: center;
    background: $darkgrey;
    
    &__container {
        padding: 180px 0 100px;
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 1140px;
        width: 100%;
        align-items: flex-start;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__logo-img {
        margin-right: 10px;
        height: 35px;
    }

    &__logo-title {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }

    &__title-vpn {
        font-weight: 600;
    }

    &__item {
        max-width: 340px;
        margin-right: 230px;
    }

    &__text {
        margin-bottom: 30px;
        color: $lightblack;
    }

    &__text-span {
        font-weight: 500;
    }

    &__info {
        display: flex;
    }

    &__list {
        &:not(:last-child) {
            margin-right: 125px;
        }
    }

    &__list-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__list-item{
        color: $lightblack;
        margin-bottom: 10px;
    }

    &__copyright {
        color: $verygrey;
    }

    &__copyright-vpn {
        font-weight: 500;
    }
}

.socials {
    height: 34px;
    display: flex;
    margin-bottom: 30px;

    &__item {
        max-width: 34px;
        height: 34px;
        position: relative;
        background: $white;

        border-radius: 50%;
        
        margin-right: 20px;
        box-shadow: 0px 13px 18px rgba($shadowblack, 0.08);
    }
        
    &__link {
        display: block;
        height: 33px;
        width: 33px;
    }

    &__img {
        height: 33px;
        width: 33px;
        padding: 8px;
        
        
    }
}