.plan {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 80px;
    background: $backwhite;
    

    &__card-container {
        display: flex;
        max-width: 1140px;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 75px;
    }

    &__description-title {
        margin: 0;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__description-text {
        margin: 0;
        max-width: 555px;
        text-align: center;
        color: $lightblack;
    }
}