.promo {
    display: flex;
    justify-content: center;
    margin-top: 92px;

    &__container {
        display: flex;
        max-width: 1206px;
        margin-left: 35px;
    }

    &__area {
        width: 555px;
        margin-top: 28px;
    }

    &__area-title {
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
    }

    &__area-title-text {
        font-weight: 700;
    }

    &__area-text {
        color: $lightblack;
        margin-top: 20px;
    }

    &__button {
        margin-top: 50px;
        position: relative;

        }

    &__picture {
        margin-left: 25px;
    }
}
