$red:#F53855;
$fullred: #F53838;
$black: #0B132A;
$lightblack: #4F5665;
$lightred: #FFECEC;
$white: #FFFFFF;
$grey: #EEEFF2;
$lightgrey: #DDDDDD;
$verygrey: #AFB5C0;
$darkgrey: #FBFBFB; 
$shadowblack: #0D1025;
$lightwhite: #DDE0E4;
$backwhite: #F6F6F6;